html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(0deg, rgba(125, 125, 125, 1) 0%, rgba(191, 191, 191, 1) 100%);
    min-height: 100vh;
}

.hero {
    text-align: center;
}

.hero h1 {
    color: #007bff; 
    margin-bottom: 1rem;
}

.hero .lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #6c757d; 
    margin-bottom: 1.5rem;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
}

.mt-3 {
    margin-top: 1.5rem !important;
    text-align: center; 
}

.paginacion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.paginacion-container .info {
    font-size: 14px;
    color: #444;
}

.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.pagination li {
    margin: 0 4px;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.2s;
}

.pagination li a:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination li.active span {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination li.disabled span {
    color: #bbb;
    background-color: #f1f1f1;
    cursor: not-allowed;
}