html, body {
    height: auto;
    margin: 0;
    padding: 0;
    background: #7d7d7d;
    background: linear-gradient(0deg, rgba(125, 125, 125, 1) 0%, rgba(191, 191, 191, 1) 100%); /* Degradado de gris */
}

.hero {
    text-align: center;
}

.hero h1 {
    color: #007bff; 
    margin-bottom: 1rem;
}

.hero .lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #6c757d; 
    margin-bottom: 1.5rem;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
}

.mt-3 {
    margin-top: 1.5rem !important;
    text-align: center; 
}